<div class="row error-box">
    <div class="col-sm-12">
        <div class="text-center">
            <h1> Erreur 404</h1>
            <h2 class="font-xl">
                <strong>
                    <span class="fa fa-fw fa-exclamation-triangle fa-lg"></span> Page <u>non</u> trouvée
                </strong>
            </h2>
            <p>
                La page que vous cherchez est introuvable.
            </p>
            <p>
                Utilisez le bouton <strong>Retour</strong> de votre navigateur pour revenir à la page précédente.
            </p>
        </div>
    </div>
</div>
